{% load static %}
<link rel="stylesheet" href="{% static 'homepage/css/header.css' %}">
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="{% static 'homepage/img/logo.png' %}" alt=""></a> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="">Shop Category</a></li>{% comment %} {% url 'product:category' 'plimsoll-sneakers' %} {% endcomment %}
                                <li class="nav-item"><a class="nav-link" href="{% static 'homepage/single-product.html' %}">Product Details</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% static 'homepage/checkout.html' %}">Product Checkout</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Shopping Cart</a></li>{% comment %}{% url 'cart:cart' %}{% endcomment %}
                                <li class="nav-item"><a class="nav-link" href="{% static 'homepage/confirmation.html' %}">Confirmation</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="{% static 'homepage/blog.html' %}">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% static 'homepage/single-blog.html' %}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="{% comment %}{% url 'user:login' %}{% endcomment %}">Login</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% static 'homepage/tracking.html' %}">Tracking</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% static 'homepage/elements.html' %}">Elements</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% static 'homepage/contact.html' %}">Contact</a></li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item d-flex flex-row justify-content-center align-items-center">
                            <a style="color: #ff4757; font-weight: bold;">
                                {{ request.user.username }} / 
                            </a>
                            <a href="{% url 'authen:logout' %}"
                                style="color: #ff4757; font-weight: bold;">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item d-flex flex-row justify-content-center align-items-center">
                            <a href="{% url 'authen:login' %}?next={{ request.build_absolute_uri }}" 
                                style="color: #ff4757; font-weight: bold;">
                                Login / 
                            </a>
                            <a href="{% url 'authen:register' %}"
                                style="color: #ff4757; font-weight: bold;"
                            >
                                Register
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">                            
                            <a href="{% url 'carts:cart' %}" class="cart"> 
                                <div class="position-relative">                       
                                    <span class="ti-bag"></span>
                                    {% if request.session.cart_items != 0 %}
                                        <div class="badge-custom"><span>{{ request.session.cart_items }}</span></div>
                                    {% endif %}
                                </div>                                                              
                            </a>
                        </li>
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between" method="GET" action="{% url 'search:query' %}">
                <input type="text" class="form-control" name='q' id="search_input" value="{{request.GET.q}}" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>
